bvh/.vs/bvh/v16/ipch/AutoPCH/cfeae40e8cb2706d/FLOAT4X4.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/c8c2049ec57e4e91/BASICGEOMETRYGENERATOR.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/c181c61e1f17732c/BVH.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/beb35608b4d2bb53/MATRIX.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/b9776d7d1c5cd0bb/MAIN.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/a86f3d58047bac2a/HALF.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/8e9a591659eab7bd/BVHBUILDER.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/78dfa6899e983f70/FLOAT3.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/68621b7b6db1d6bc/FLOAT4X4.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/5e16ca80944a6b77/VECTOR2.ipch
bvh/.vs/bvh/v16/.suo
bvh/bvh/Debug/bvh.tlog/CL.write.1.tlog
bvh/bvh/Debug/bvh.tlog/CL.read.1.tlog
bvh/bvh/Debug/bvh.tlog/CL.command.1.tlog
bvh/bvh/Debug/bvh.log
bvh/bvh/Debug/bvh.exe.recipe
bvh/bvh/Debug/Plane.obj
bvh/bvh/Debug/MathTypes.obj
bvh/bvh/Debug/KdTree.obj
bvh/bvh/Debug/Half.obj
bvh/bvh/Debug/BasicGeometryGenerator.obj
bvh/bvh/Debug/BVHBuilder.obj
bvh/.vs/bvh/v16/ipch/AutoPCH/3d3fa77b107e573f/FLOAT2.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/3ca7e2a7bb0deb69/VECTOR4.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/2d5dc9a1b0be9ea0/VECTOR3.ipch
bvh/bvh/Debug/main.obj
bvh/bvh/Debug/kdtree.obj.enc
bvh/bvh/Debug/float4x4.obj
bvh/bvh/Debug/float4.obj
bvh/bvh/Debug/float3.obj
bvh/bvh/Debug/float2.obj
bvh/bvh/Debug/bvh.tlog/link.write.1.tlog
bvh/bvh/Debug/bvh.tlog/link.read.1.tlog
bvh/Debug/bvh.pdb
bvh/Debug/bvh.ilk
bvh/Debug/bvh.exe
bvh/.vs/bvh/v16/ipch/AutoPCH/ffab129a6b5b4d10/COLOR.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/f9d0ab89563371c2/PLANE.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/f815cc6abb6d209d/QUAT.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/f46bf7fc2f9f7a50/KDTREE.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/da47af89d65e2a69/FLOAT3.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/2c2c0ddd357efce9/KDTREE.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/29d91f8401aa69d9/FLOAT4.ipch
bvh/.vs/bvh/v16/ipch/AutoPCH/197e9e890784f0c0/BASICGEOMETRYGENERATOR.ipch
bvh/.vs/bvh/v16/Browse.VC.opendb
bvh/.vs/bvh/v16/Browse.VC.db-wal
bvh/.vs/bvh/v16/Browse.VC.db-shm
bvh/.vs/bvh/v16/Browse.VC.db
bvh/bvh/NatvisFile.natvis
bvh/bvh/Debug/vc142.pdb
bvh/bvh/Debug/vc142.idb
bvh/bvh/Debug/quat.obj
bvh/bvh/Debug/bvh.tlog/link.command.1.tlog
bvh/bvh/Debug/bvh.tlog/bvh.lastbuildstate
bvh/bvh/Debug/Color.obj
